<div class="container">
    <footer class="footer center">
        <h6>Contact Us!</h6>
        <p><%= mail_to "eandy5000@yahoo.com", "Email" %></p>
        <p><%= link_to "About", about_path %></p>
        <p>&copy; Eccleston inc. all rights reserved</p>
    </footer>
</div>