$navbar-default-bg: #08088a;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color:#fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: url(http://www.fillmurray.com/500/630);
    height: 500px;
    color:white;
    
}

.footer {
    background-color: orange;
    
    p:last-child {
        padding-bottom: 20px;
    }
    
    h6 {
        padding-top: 20px;
    }
    
    h6::first-letter {
        font-size: 15px;
    }

}

